{{> header}}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Hello {{userdata.username}}</h1>
        </div>
        <div class="col-md-8">
            {{#if error}}
            <p>:( <br> Something went wrong</p>
            {{else}}
            {{#each postdata}}
            <div class="post-container">
                <div class="post-header">
                    <p class="post-author">{{post_author_name}}</p>
                    {{#if ../userdata._id}}
                    <a class="post_author_id add-friend" data-user_id="{{post_author_id}}" data-user_name="{{post_author_name}}" href="#">Adicionar amigo</a>
                    {{/if}}
                </div>
                <p class="post-title">{{post_title}}</p>
                {{#if_equals post_type "image"}}
                <h1>image post</h1>
                <p>{{post_text}}</p>
                <p>image here</p>
                {{/if_equals}}
                {{#if_equals post_type "text"}}
                <h1>text post</h1>
                <p>{{post_text}}</p>
                {{/if_equals}}
                {{#if_equals post_type "url"}}
                <h1>url post</h1>
                <a href="{{post_url}}">{{post_url}}</a>
                {{/if_equals}}

            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>
{{> footer}}
