{{> header}}
<div class="container">
    <div class="row">
        <div class="center-form login-form">
            <h1>Login</h1>
            <form action="/auth">
                <div class="form-group">
                    <input type="email" class="form-control" data-attr="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" data-attr="password" placeholder="Password">
                </div>
                <a class="sendBtn btn btn-default" href="#">Submit</a>
            </form>
        </div>
    </div>
</div>
{{> footer}}
